html{
  display: block;
}
head {
   display: none
}
title {
display: none;

}
body {
  font-family: 'Raleway', sans-serif,
 'Noto Sans',sans-serif,
 'Muli', sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
body{
  display:block;
  margin: 8px;
}
 div {
   display: block;
 }
#nav {
 display: block; 
 position:relative;
 margin-bottom: 40px;
 color:#000;
}
.clear {
  overflow: auto;
}
#nav .logo {
  float: left;
}
img {
  display: block;
}

/* style for nav bar*/
#nav .nav-list {
  float: right;
  font-weight: bold;
  font-size: 16px;
}
.navbar {
  font-size: 16px;
  display: inline
  margin-right: 23px;
}
ul.navbar {
  text-align: right;
  margin: 15% 0 0 0;
}
#nav .nav-list a {
  color:blue;
}
.navbar a {
  float:left;
  font-size: 16px;
  color: #000;
  text-align: left
  display: inline;
  text-decoration: navbar;
}
.container p {
  color: #000;
  font-size: 36px;
  margin: 50px 0;
}

body,html {
  height: 100%;
  margin: 0;
  font-family: Raleway, sans-serif,
 'Noto Sans',sans-serif,
 'Muli', sans-serif;
}


  .container {
position: relative;
text-align: center;
color: white;
  }

/* style the top navigation bar */
.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),img("2949.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* centered text */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.row-box {
  position:relative;
  display: block;
  width: 100%;
  clear: left
}
.col {
  float: left;
  width: 50%;
}


