


    
body { 
	font-family: "Helvetica Neue",Arial,sans-serif,veranda;
	font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color:rgb(250, 250, 250);
  }

/* Style for Nav Bar */

 .nav {
   margin:0;
  padding:0;
  position: relative;
  list-style-type: none;
  text-align: center;
  color: #7eb3d6;
 }

 .clear,clearfix {
   overflow: auto;
 }

  .nav .logo {
    float: left;
  }
  

  .nav-list {
	float: right; 
  font-weight: bold;
  font-size: 16px;
}

 .nav a  {
   color:#000;
   display: inline-block;
   padding: 0.5em 0.75em;
   text-decoration: none;
	 margin: 15% 0 0 0;
   border-radius: 4px;
}

.navbar li {
  font-size: 16px;
  display: inline-block ;
  margin-right: 23px;
}


/*Introduction .hero-image */

.hero-image {  
  background-image: url(../img/food/clams.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}
#hero .jumbotron {
  background-color:transparent;
  padding:20%;
}
.hero-text h2 {
	font-size: 30px;
	text-transform: uppercase;
  text-align: bottom;
	color: rgb(30, 105, 139);
}
/*
.hero p {
	font-size: 22px;
	color: rgb(12, 18, 94);
	font-weight: 200;
  text-align: left;*/



#about me {
font-size: 16px;
color:rgba(7, 2, 4, 0.945);
font-family: veranda;
padding:5%
}

.about p {
  text-align: center;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color:#000;
  text-align: right;
}

.Portfolio {
 text-align: center;
 font-family: veranda;
 color:#373a3c;
 } 

/*image-containers*/
/* clear floats after .image-containers*/
.container-fluid {
  transition: 1s;
  
}

.recent work {
text-align: center;
font-family: Arial;
color: rgb(43, 29, 29);
}

.recent work {
  text-align:center;
  color: white;
}
.img-circle {
  border-radius: 50%;
  padding: 15px;
  }

#contact a {
  color:#688da5;
  text-decoration:none;
}

.container h3{
  margin-top:0%;
  padding:0%;
}
/* footer html5 */
footer {
  color:rgb(20, 18, 18);
  text-align: center;
  font-family: Helvetica Neue;
}

footer .social-media a {
  font-size: 20px;
  color: black;
  padding-right: 1%;
}

@media (max-width: 720px) {
	.banner h1 {
		font-size: 32px;
		transition: font 3s ease;
	}
}
@media (min-width: 960px) {
	.banner h1 {
		font-size: 60px;
		transition: font 5s ease;
  }
  }
  /*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
   .container, .container {
 background-color: rgb(253, 252, 252);
 }
}
/*
// Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
.container, .container-fluid {
background-color: rgb(255, 255, 255);
 }
}
/*
// Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) { 
.container, .container-fluid { 
background-color: rgb(127, 180, 201);
}
}
/*
// Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
container, .container-fluid {
 background-color: rgb(255, 255, 255);
}
}
